
          
ul{
     line-height: 20px;
   
}
ol{
     line-height: 20px;  
}
h1,h2{
     color:slategrey
}
img{
     height: 120px;
     width: 120px;
}
body{
     background-color:#585648;
     color: bisque;
}
span{
  font-style: italic;
  color:aquamarine;
}

